

<div class="sc-jUpvKA cZppQy">
	<div class="sc-likbZx dAlmEp">
		<div class="gZcwwP">
			<section id="section-ba9d7d80" class="sc-cJOK iauQZv">
				<div width="settings_styles.content_width.medium" class="sc-ccSCjj iEcyhu">
					<div class="ikMeoX">
						<div id="row-1aa48579" class="sc-hzDEsm fDJbEJ">
							<div size="12" class="dSigwl">
								<div class="sc-likbZx dAlmEp">
									<div class="bxQLam">
										<section id="section-bf8df931" class="sc-cJOK jKcMMJ">
											<div width="wide" class="sc-ccSCjj juXmiG">
												<div class="ikMeoX">
													<div id="row-d39ae365" class="sc-hzDEsm eGjZkP">
														<div size="12" class="dSigwl">
															<div class="cAqGto">
																<div id="image-818d2eef" class="sc-gbzWSY cooUDN">
																	<picture style="display:block;position:relative;height:0;overflow:visible;padding-bottom:55.55555555555556%">
																		<img>
																	</picture>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="ikMeoX">
													<div id="row-e276b80a" class="sc-hzDEsm gEKTmS">
														<div size="12" class="dSigwl">
															<div class="ikMeoX">
																<div id="row-a007d2d8" class="sc-hzDEsm hOoSKd">
																	<div size="6" class="bgLrV">
																		<div class="euPzMx">
																			<button id="button1">
																			</button>
																		</div>
																		<div class="dgKTkB">
																			<div font-size="20px" id="headline1" class="sc-eXNvrr frhNfH">
																			</div>
																		</div>
																		<div class="fZZuKA">
																			<div font-size="20px" id="bullet1" class="sc-eXNvrr gMssNW">
																			</div>
																		</div>
																	</div>
																	<div size="6" class="ijeqLh">
																		<div class="dgKTkB">
																			<div font-size="20px" id="headline2" class="sc-eXNvrr frhNfH">
																			</div>
																		</div>
																		<div class="fZZuKA">
																			<div font-size="20px" id="bullet2" class="sc-eXNvrr gMssNW">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
									<div class="coXoaB">
										<section id="section-01d0c249" class="sc-cJOK enoqnV">
											<div width="medium" class="sc-ccSCjj dKEBPm">
												<div class="ikMeoX">
													<div id="row-f14f7ea9" class="sc-hzDEsm AcNDn">
														<div size="12" class="dSigwl">
															<div class="dgKTkB">
																<div font-size="20px" id="headline3" class="sc-eXNvrr frhNfH">
																</div>
															</div>
															<div class="iiOYJK">
																<div id="text-603c74e1" font-size="20" class="sc-fZwumE gblUkF">
																</div>
															</div>
															<div class="ikMeoX">
																<div id="row-72818b2c" class="sc-hzDEsm AcNDn">
																	<div size="12" class="dSigwl">
																		<div class="ikMeoX">
																			<hr class="sc-cBdUnI VnNNR">
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="ikMeoX">
													<div id="row-564d2a6f" class="sc-hzDEsm AcNDn">
														<div size="12" class="dSigwl">
															<div class="cDECnD">
																<div id="video-d53c145d" class="sc-jeCdPy kBfVoV">
																	<div style="width:100%;height:100%" class="react-player">
																		<iframe></iframe>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="ikMeoX">
													<div id="row-03b1639b" class="sc-hzDEsm AcNDn">
														<div size="12" class="dSigwl">
															<div class="dgKTkB">
																<div font-size="20px" id="headline4" class="sc-eXNvrr frhNfH">
																</div>
															</div>
															<div class="iiOYJK">
																<div id="text-8aa925d4" font-size="20" class="sc-fZwumE gblUkF">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
									<div class="eibsKu">
										<section id="section-c6d4d008" class="sc-cJOK iabpwq">
											<div width="fullPage" class="sc-ccSCjj fCMzPB">
												<div class="ikMeoX">
													<div id="row-c81300b6" class="sc-hzDEsm AcNDn">
														<div size="12" class="dSigwl">
															<div class="euPzMx">
																<button id="button2">
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>


<script>

	function headers(tag){
		var id = $.map($(".frhNfH"), function(n, i) {
			return n.id;
		});
		for (let a in id) {
			if (tag[a].style) {
				text = tag[a].textContent;
				let li = "<ul>";
					for (let c in text) {
						li += '<li><i class="'+tag[a].style.class+'" style="font-size:14px; color:rgba(20, 158, 252, 1); margin-left: -25px; margin-right: 10px;" '+tag[a].hidden+'"></i>' + text[c] + '</li>';
					}
					li += "</div>";
					$('#' + tag[a].textID).html(li);
				}else {
					$('#' + tag[a].textID).html(tag[a].textContent);
				}
				$('#' + id[a]).html('<'+tag[a].tagName+'>'+tag[a].titleContent+'</'+tag[a].tagName+'>');
			}

		}

		function iframes(frame){
			$('iframe').attr("src", frame.src).attr("style", frame.style).attr("title", frame.title).attr("allow", frame.allow).attr("frameborder", frame.frameborder).attr("allowfullscreen", frame.allowfullscreen);
		}

		function button(link){
			for (let a in link) {
				$("#"+link[a].id).attr("class", link[a].class).attr("onclick", "openURL()").html(link[a].text);
			}
		}

		function imgs(img){
			$('img').attr("src", img.src).attr("class", img.class).attr("loading", img.loading);
		}

		function loadPage(x, y, z){
			headers(x.headers);
			iframes(x.iframes[0].attr);
			button(x.links);
			imgs(x.imgs[0]);
		}
		loadDoc("content.json?" + v, loadPage);
	</script>
